body{
	background-image: url(backdrop.jpg);
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}
.header
{
color: white;
font-family:  'Yeon Sung';
font-size: 70px;
letter-spacing: 10px;
margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}
label, h3
{
    color: white;
}
.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}
#logout
{
	font-size: 20px; float: right;
}
#output
{
	padding: 10px;
	 width:80%;
	 background: rgba(236, 175, 255, 0.8);
	 border-radius: 15px;
}
